body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#contenidorJoc {
    display: flex;
}

#llistaJugadors {
    width: 200px;
    background-color: #585858;
    color: white;
    padding: 10px;
}

#joc {
    flex: 1;
    background-color: #87ceeb;
}

#menuInicial {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}